<section>    
    <article>
        <header>
            <h2>{{titulo}}</h2>
        </header>
        <p>
            {{conteudo}}
        </p>
        <br>
        <hr>
        <br>
        <h3>Comentários:</h3>
        <br>
        {% if comentarios == false %}
            <p>Nenhum comentário encontrado para essa postagem!</p>
        {% else %}    
            {% for comentario in comentarios %}
                <h4>{{comentario.nome}}</h4>
                <p>{{comentario.comentario}}</p>
                <br>
            {% endfor %}
        {% endif %}    
    </article>      
</section>